Config/Secrets.xcconfig

node_modules/

.DS_Store

build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

.build/
.swiftpm/
Packages/
HttpjpgKit/.build/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/configuration/
