<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Anton-Regular.ttf</string>
	</array>
	<key>STORYBLOK_ACCESS_TOKEN</key>
	<string>$(STORYBLOK_ACCESS_TOKEN)</string>
	<key>STORYBLOK_VERSION</key>
	<string>$(STORYBLOK_VERSION)</string>
	<key>STORYBLOK_REGION</key>
	<string>$(STORYBLOK_REGION)</string>
	<key>SITE_ORIGIN</key>
	<string>$(SITE_ORIGIN)</string>
	<key>CONTENT_SOURCE</key>
	<string>$(CONTENT_SOURCE)</string>
</dict>
</plist>
