#include "Shared.xcconfig"

PRODUCT_NAME = httpjpg-widgets
PRODUCT_BUNDLE_IDENTIFIER = com.yl33ly.httpjpg.widgets
INFOPLIST_FILE = httpjpg-widgets/Info.plist

INFOPLIST_KEY_CFBundleDisplayName = httpjpg
INFOPLIST_KEY_UILaunchScreen_Generation =
INFOPLIST_KEY_UISupportedInterfaceOrientations =
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad =

ASSETCATALOG_COMPILER_APPICON_NAME =
SKIP_INSTALL = YES
